.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
        // box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);

    }
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
    }
   

    .charts {
      padding: 5px 20px;

    }
    .H_dashboard{
      color: #5430dd;;
      font-size: 24px;
      // margin-top: 20px;
    
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
