.app.dark {


  background-color: #111;
  // color: rgb(156, 156, 156);
  color:white;

  .chartGrid {
    // stroke: rgba(228, 228, 228, 0.219);
    color:white;
  }

  .search input{
    // color: #999 !important;
    color:white;
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }
  .MuiDataGrid{
    color: gray;


  }

  .navbar {
    // color: #999;
    color:white;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      // border-color: #333;
      color:white;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
          // color:white;
        }
        span{
          color: white;
        }
        .icon {
          // color: #999;
          color:white;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #474646;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #080808;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .datatable {
    .datagrid {
      // color: gray;
      color: white;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        // color: gray;
        color: white;
        border: none;
      }

    }
  }
  .main_faq {
    background-color: #111 !important;
    color: aliceblue !important;
    border: white !important;
  }
  .css-mjz37p-MuiPaper-root-MuiAccordion-root{
     box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.836), 0px 1px 1px 0px rgba(241, 240, 240, 0.973), 0px 1px 3px 0px rgb(253, 252, 252) !important;
  }
  // .css-1e2bxag-MuiDataGrid-root {
  //   color:white !important;
  // }
  .css-6hp17o-MuiList-root-MuiMenu-list {
    background: red !important;
  }
  input{
      background-color: transparent;
  }
  .css-1nxhr1h .MuiDataGrid-virtualScroller{
    background-color: #111 !important;
  }
  .css-a75owc{
    background-color: #111 !important;
  }
  .MuiBox-root{
    background-color: #111 !important;
    color: white; 
  }
.MuiTab-textColorSecondary {  
  color: white !important;
 }
 .modal-body{
  background-color: #111 !important;
 }
 .cellWithStatus {
  padding: 2px;
  border-radius: 5px;
  width: 65px;
  text-align: center;

  &.admin {
    background-color: rgb(28, 77, 4);
    color: white !important;
  
  }
  &.employee {
    background-color:rgb(182, 22, 231) !important;
    color: white !important;
  }
  &.gateman {
    background-color: rgba(209, 32, 85, 0.918);
    color: white !important;
  }
}
.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: white !important;
    border: #303439 !important;
    border-style: solid !important;
    cursor: pointer;
  }
  
  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: white !important;
    border: #303439 !important;
    border-style: solid !important;
    cursor: pointer;
  }
}

.tableCell{
  background-color: #111;
  // color: rgb(156, 156, 156);
  // color: gray !important;
  color: white !important;
}


}

