.sidebar {
  // position: fixed;
  flex: 1;
  // border-right: 1px solid  rgba(161, 172, 184, 0.15);
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15) !important;
  background: rgb(120,91,230);
background: linear-gradient(0deg, rgba(120,91,230,1) 0%, rgba(78,37,233,1) 100%);

  .top {
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 22px !important;
    

    .logo {
      width: 130px;
      //  padding-left: 12px;
      // margin-top:20px
      // width: ;
      // font-weight: bold;
      // color: #6439ff;
    }
  }


  .center{
    ul{
      li:hover{
        span{
          color: #5430dd;
        }
        .icon{
          color: #5430dd;
        }

      }
    }
  }

  .center {
    padding-left: 12px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        // padding: 5px;
        cursor: pointer;
        align-items: center;
        padding: 12px !important;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
          // color: #5430dd !important;
          border-radius: 10px 10px 10px 10px;
        }

        .icon {
          font-size: 25px;
          color: #ffffff;

          //  &:hover{
          //    color: #5430dd;

          // }
        }

        span {
          font-size: 17px;
          font-weight: 600;
          color: #ffffff;
          margin-left: 10px;

          // &:hover{
          //    color: #5430dd;

          // }
        }
      
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}


