.datatable {
  height: 500px;
  padding: 20px;
  // margin-left: 20px;

  .datagrid{
    .custom-header {
      text-align: center;
      color: #000;
      background-color: #0d6efd;
    }
  }
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: #5430dd;
    margin-bottom: 10px;
    display: flex;
    // align-items: center;
    // display: flex;
    justify-content: space-between;

    .link {
      margin-left: 10px;
      text-decoration: none;
      background-color: #7451f8 !important;
      font-size: 15px;
      font-weight: 400;
      border: 1px solid rgb(238, 233, 233);
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }
  .css-1e2bxag-MuiDataGrid-root {
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
  }

  .cellWithStatus {
    padding: 2px;
    border-radius: 5px;
    width: 60px;

    &.admin {
      background-color: rgba(255, 217, 0, 0.05);
      color: green;
    }
    &.employee {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.gateman {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .approvalCell {
    padding: 2px;
    border-radius: 5px;
    width: 100%;

    &.approved {
      background-color: rgba(0, 217, 255, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.rejected {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;

      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }

  .search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;

    input {
      border: none;
      outline: none;
      background: transparent;
      font-size: 16px;

      &::placeholder {
        font-size: 12px;
      }
    }
  }

  .exportlink {
    margin-left: 10px;
    text-decoration: none;
    background-color: #7451f8 !important;
    font-size: 15px;
    color: #fcfcfd;
    font-weight: 400;
    border: 1px solid rgb(238, 233, 233);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  // <button class="button-34" role="button">Button 34</button>

  /* CSS */
  // <!-- HTML !-->
  // <button class="button-30" role="button">Button 30</button>


}
.abz {
  .exportlink {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
.Excel-upload {
  background-color: #7451f8 !important;
  border: none !important;
}
// .viewButton_approvel{
//   text-align: center;
// padding: 2px 5px;
// border-radius: 5px;
// color: darkblue;
// border: 1px dotted rgba(0, 0, 139, 0.596);
// cursor: pointer
// }

.viewButton_approvel{
  margin: 24px;
  text-align: center;
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer
}
// .approve_act:active{
//   content:  '';
    //  display: block;
    //  position: absolute;
    //  bottom: 10px;
    //  left: 0;
    //  height: 3px;
    //  width: 100%;
    //  background-color: #0a551c;
  //    transform-origin: right bottom;
  //    transform: scale(0, 1);
  //    transition: color 0.1s,transform 0.2s ease-out;
  //    text-decoration:  overline 3px rgb(14, 85, 20);

     
  // }
  .approve_act{
    text-decoration: underline ;
    margin: 0px 10 px;
    position: relative;
    
   
  }
  .exportlink{
  // margin-left: 10px;
  text-decoration: none;
  background-color: #7451f8 !important;
  font-size: 15px;
  color: #fcfcfd;
  font-weight: 400;
  border: 1px solid rgb(238, 233, 233);
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  }
  
//Datable Header css
